<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Drive Current Hiring Challenge</title>
</head>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
<style type="text/css">
    body {
        font-family: 'Roboto' sans-serif;
    }

    .main-container {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }

    .text-center {
        text-align: center;
    }

    canvas {
        width: 100%;
        margin-bottom: 1em;
    }

    label {
        margin-bottom: 1em;
    }

    .form-block {
        display: block;
    }
</style>
<body hiring-challenge>
    <div class="main-container">
        <h1 class="text-center">Drive Current Hiring Challenge</h1>

        <div class="text-center">
            <canvas chart="app.chartData" width="400" height="400"></canvas>
        </div>

        <label class="form-block">
            <strong>Start:</strong>
            <input type="date"
                ng-model="app.start_date"
                ng-model-options="{timezone: 'UTC'}"
                ng-change="app.updateData()">
        </label>

        <label class="form-block">
            <strong>End:</strong>
            <input type="date"
                ng-model="app.end_date"
                ng-model-options="{timezone: 'UTC'}"
                ng-change="app.updateData()">
        </label>

        <strong>Metrics:</strong>

        <label>
            <input type="checkbox"
                ng-model="app.metrics.unique_visitors"
                ng-true-value="'unique_visitors'"
                ng-change="app.updateData()">Unique Visitors
        </label>
        <label>
            <input type="checkbox"
                ng-model="app.metrics.page_views"
                ng-true-value="'page_views'"
                ng-change="app.updateData()">Page Views
        </label>
        <label>
        <input type="checkbox"
            ng-model="app.metrics.visits"
            ng-true-value="'visits'"
            ng-change="app.updateData()">Visits
        </label>
    </div>
    <script type="text/javascript" src="bower_components/chartjs/Chart.js"></script>
    <script type="text/javascript" src="bower_components/angularjs/angular.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>

</body>
</html>
